%p Hi there!

%p
  Someone has requested to change your email address on Plural Profiles to
  = succeed "." do
    %strong= @new_email

%p If this was you, you can safely ignore this email. The change won't take effect until the new email address is verified.

%p If this wasn't you, please secure your account by changing your password immediately.
