%p Hi there!

%p You requested to change your email address on Plural Profiles.

%p To confirm your new email address, please click the link below:

%p= link_to "Verify new email address", @verification_url

%p This link will expire in 24 hours.

%p If you didn't request this change, you can safely ignore this email.
