.card
  %h2 About
  %p
    Plural Profiles is a space for pluralfolk to create and share profiles.
    You can set up individual profiles with names, pronouns, avatars
    and descriptions, and organise them into groups, however works best for your collective.
  %p
    Each profile and group gets a shareable public link you can give to
    friends, add to bios, or keep handy for introductions.
  %p
    All forms of plurality are welcome, from median to multiple, traumagenic to endogenic, soulbonders to fractals, collectives to systems, and many more! Any and all ways of being more-than-one belong here.
