<% content_for(:container_class) %>

<h1>New profile</h1>

<div class="card">
  <%= render "our/profiles/form", profile: @profile %>
</div>

<p><%= link_to "â† Back to our profiles", our_profiles_path %></p>
